.about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.about-right {
  flex: 1;
}

.about-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;
}

.about-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-skills-img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.about-title {
  font-weight: 400;
}

.about-sub {
  margin: 20px 0px;
}

.about-desc {
  font-weight: 300;
  padding-bottom: 25px;
}

.about-skills {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-skills-texts {
  width: 70%;
}

.about-skills-title {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}


.about-btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: navy;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.about-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    
  }
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .about-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 480px) {
    .about {
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
    }
  
    .about-left {
      width: 100%;
    }
  
    .about-card {
      height: 30vh;
    }
  
    .about-card.bg,
    .a-award {
      display: none;
    }
  
    .about-right {
      padding: 20px;
    }
  
    .about-skills-img {
      width: 120px;
      height: 120px;
      border-radius: 20px;
    }
  }